.footer {
  .flex-justify-center;
  .width-100;
  align-items     : center;
  height          : 70px;
  background-color: @navy;
  border-top      : @border;

  img {
    height: 30px;
    width: 30px;
    margin:10px;
  }
}

@media @phone {
  width      : 104.5%;
  margin-left: -2%;
}