.header {
  .width-100;
  .text-align-center;
  .align-items-center;
  .display-flex;
  justify-content : space-between;
  height          : 70px;
  padding         : 0.5em;
  background-color: @navy;
  color           : @white;
  border-bottom   : @border;

  @media @tablet {
    .width-100;
    .flex-column;
    .align-items-center;
    height     : 120px;
    padding: 1em;
  }
  @media @phone {
    height: 145px;
  }

  h1 {
    .text-align-center;
    .margin-zero;
    .align-items-center;
    font-size   : 35px;
    padding-left: 15px;

    @media @phone {
      font-size: 30px;
    }
  }

  nav {
    .align-items-center;
    .flex-wrap;
    .display-flex;
    justify-content: flex-end;
    padding-right  : 15px;

    @media @phone {
      padding-top: 10px;
      padding-right:0;
    }
  }

  a {
    .text-decoration-none;
    font-size      : 18px;
    padding        : 0 0.8em;
    color          : @white;

    &:hover {
      color: @peach ;
    }
  }
}