@import 'Variables.less';
@import 'Mixins.less';
@import 'Header.less';
@import 'Main.less';
@import 'Footer.less';
@import '../About/About.less';
@import '../Carousel/Carousel.less';


html,
body {
  .margin-zero;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  color      : @white;
  font-family: @main-font;
}

.container {
  .width-100;
  max-width            : @max-width;
  margin               : 0 auto;
  background           : url("../Images/blackboard-flatlay-message-1374362.jpg");
  background-size      : 100% 670px;
  background-repeat    : no-repeat;
  background-position-x: center;

  @media @tablet {
    .width-100;
  }

  @media @phone {
    .width-100;
  }
}