@navy      : #305f72;
@white     : white;
@peach     : #f1d1b5;
@pink      : #f0b7a4;
@offwhite  : #fefefe;
@gray      : #aaa;
@light-gray: #888;
@black     : black;

@max-width: 1265px;
@border: dotted 2px white;

@main-font: 'Lora', sans-serif;
@sub-font : 'Roboto', sans-serif;

// Media queries
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";
@small-desktop: ~"(max-width: 1110px)";