.main {
  background-color: @white;
}

.intro {
  .text-align-center;
  color      : @navy;
  padding-top: 40px;

  h2 {
    .margin-zero;
    padding-bottom: 10px;
    font-size     : 25px;
  }
}

.main-content {
  .flex-justify-center;
  margin: 55px 0;

  @media @tablet {
    .flex-justify-center;
    .flex-wrap;
    margin   : 20px 0;
  }

  @media @phone {
    margin: 40px 0;
  }
}

.teammate {
  .text-align-center;
  .margin-zero;
  width           : 30%;
  padding         : 10px;
  height          : 260px;
  position        : relative;
  overflow        : hidden;
  color           : @navy;
  background-color: @white;

  @media @tablet {
    width: 300px;
  }

  @media @phone {
    padding-bottom: 20px;
  }

  button {
    border: none;
  }

  button:focus {
    outline: 0;
  }

  button:hover {
    transform: scale(1.1);
  }

  h2 {
    .text-align-left;
    font-size  : 22px;
    padding    : 0;
    margin     : 15px 0 0;
    color      : @navy;
    font-family: @main-font;

    @media @phone {
      .text-align-center;
    }
  }

  h3 {
    .text-align-left;
    font-size  : 15px;
    margin-top : 3px;
    font-family: @sub-font;

    @media @phone {
      .text-align-center;
    }
  }

  img {
    height: 170px;
    width : 170px;
  }
}

.last-content {
  .text-align-center;
  padding: 20px 0;
  color  : @navy;

  @media @phone {
    padding: 0 10px 5px 10px;
  }

  p {
    line-height: 23px;
    font-size  : 20px;
    font-style : italic;
    font-family: @main-font;
  }
}

.teammate-modal {
  .width-100;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top : 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  .align-items-center;
  margin          : 15% auto;
  padding: 20px;
  width  : 60%;
  height : 60%;
  border : 6px solid @light-gray;
  background-color: @offwhite;

  @media @small-desktop{
    overflow: auto;
  }

  @media @tablet {
    width   : 70%;
    height  : 60%;
    overflow: auto;
  }

  @media @phone {
    width   : 80%;
    height  : 70%;
    overflow: auto;
  }

  .title {
    .flex-column;
    .text-align-left;
    .flex-start;
    font-size   : 20px;
    padding-left: 40px;

    @media @tablet {
      .align-items-center;
      padding-bottom: 10px;
    }

    @media @phone {
      .text-align-center;
      .align-items-center;
      padding-left: 0;
      margin-right: 0;
    }
  }

  .modal-content2 {
    .display-flex;
    justify-content: space-evenly;

    @media @phone {
      .width-100;
      .flex-column;
      .align-items-center;
    }

    .information {
      .flex-column;
      .flex-start;

      @media @phone {
        .align-items-center;
      }
    }

    .github-icon {
      .flex-justify-center;
      .align-items-center;
      padding-top: 10px;

      @media @phone {
        padding: 10px 0;
      }

      .github {
        height: 25px;
        width : 25px;
        margin: 5px;

        @media @phone {
          height: 15px;
          width : 15px;
        }
      }

      a {
        .text-decoration-none;
      }
    }

    .story {
      .text-align-left;
      width     : 50%;

      @media @phone {
        .text-align-center;
        width: 70%;
      }

      p {
        margin     : 0 0;
        line-height: 23px;
        font-family: @sub-font;
      }
    }
  }

  .close {
    font-size  : 25px;
    float      : right;
    font-weight: bold;
    color      : @gray;
  }

  .close:hover,
  .close:focus {
    .text-decoration-none;
    cursor         : pointer;
    color          : @black;
  }
}