.carousel {
    .flex-justify-center;
    align-items     : center;
    height          : 240px;
    background-color: @peach;
    border-top      : @border;

    p {
        .text-aline-center;
        display   : none;
        font-size : 26px;
        font-style: italic;
        color     : @navy;

        @media @phone {
            font-size: 18px;
        }
    }

    img {
        width : 30px;
        height: 30px;

    }

}