.carousel {
    .flex-justify-center;
    align-items     : center;
    height          : 240px;
    background-color: @pink;
    border-top      : @border;
    background: fade(@pink, 30%);

    p {
        .text-align-center;
        display   : none;
        font-size : 26px;
        font-style: italic;
        color     : @navy;
        width     : 600px;

        @media @phone {
            font-size: 18px;
        }
    }

    img {
        width : 30px;
        height: 30px;
    }

}